*{
    margin: 0px;
}

.link{
    color:aliceblue;
    display: inline-block;
    text-decoration:none;
    font-size: 150%;
    margin: 10px;
}

.links{
    color:goldenrod;
    display: inline-block;
    text-decoration:none;
    font-size: 150%;
    margin: 10px;
}

#menu{
    display: inline-block;
    clear:both;
}

body{
    background-color: rgb(77, 77, 77);
    color:aliceblue;
    font-family: 'Advent Pro', sans-serif;
}

#footer{
    text-align: right;
    clear: both;
    height: 40px;
    width: 100%;
    background-color: rgb(102, 102, 102);
}

#body{
    height: 759px;
    width: 100%;
}

#Header{
    height: 100px;
    width: 100%;
    background-color: rgb(102, 102, 102);
}

#logo{    
    width: 30%;
    height: 100px;
    float: left;
    text-align: center;
    font-size: 500%;
}

#mainContener{
    /* padding: 10px; */
    clear:both;
    height: 759px;
    width: 85%;
    float: left;
}

#ads{
    float: left;
    height: 759px;
    width: 15%;
    background: royalblue;
}

map {
    display: inline;
  }

iframe{
    margin: 15px;
}